.Calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%; 
    height: 94%;
}

.myInput {
    padding-top: 100px;
    background-color: rgb(28, 28, 28);
    color: rgb(255, 255, 255);
    border: none;
    text-align: right;
    font-size: 48px;
    width: 90%;
    height: 15%;
}
.myInput::placeholder {
    color: white;
}

.buttons {
    padding-top: 30px;
    width: 90%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "C br_left br_right division"
    "seven eight nine multiplication"
    "four five six minus"
    "one two three plus"
    "myzero percent comma equal";
}

